{:paths ["src" "examples"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  ;; Gen.clj as local dependency from submodule
  io.github.probcomp/gen.clj {:local/root "Gen.clj"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]}

  :examples
  {:extra-paths ["examples"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}

  :repl
  {:main-opts ["-m" "nrepl.cmdline" "--interactive"]
   :extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                cider/cider-nrepl {:mvn/version "0.28.5"}}}}}
